n8n/SignatureGate - Listmonk - Process Sync Queue.json
{
  "name": "SignatureGate - Listmonk - Process Sync Queue",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "c8bee819-24ed-42e0-8139-e132544b01a5",
      "name": "Schedule - Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1680,
        432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH picked AS (\n  SELECT listmonk_sync_queue_id\n  FROM public.listmonk_sync_queue\n  WHERE status IN ('pending', 'failed')\n    AND available_at <= now()\n  ORDER BY created_at\n  LIMIT 10\n  FOR UPDATE SKIP LOCKED\n),\nupdated AS (\n  UPDATE public.listmonk_sync_queue q\n  SET status = 'processing',\n      locked_at = now(),\n      attempts = attempts + 1,\n      updated_at = now()\n  FROM picked\n  WHERE q.listmonk_sync_queue_id = picked.listmonk_sync_queue_id\n  RETURNING\n    q.listmonk_sync_queue_id,\n    q.event_type,\n    q.member_email_id,\n    q.email_normalized,\n    q.listmonk_list_id,\n    q.source,\n    q.details,\n    q.status,\n    q.attempts\n)\nSELECT\n  listmonk_sync_queue_id::text AS listmonk_sync_queue_id,\n  event_type,\n  member_email_id::text AS member_email_id,\n  email_normalized,\n  listmonk_list_id,\n  source,\n  details,\n  status,\n  attempts\nFROM updated;",
        "options": {}
      },
      "id": "3eb8b8ee-2601-41c6-a30b-9bb21dbc7b4d",
      "name": "PG - Claim Pending Queue Rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1440,
        432
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "r1oDpLoZSVIIOWRS",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const defaultListId = Number($env.LISTMONK_DEFAULT_LIST_ID || 1);\n\nconst rows = items.flatMap((item) => {\n  const j = item.json || {};\n\n  if (j.listmonk_sync_queue_id) return [j];\n  if (Array.isArray(j.rows)) return j.rows;\n  if (Array.isArray(j.result)) return j.result;\n  if (Array.isArray(j.data)) return j.data;\n\n  return [];\n});\n\nif (rows.length === 0) {\n  return [];\n}\n\nreturn rows.map((row) => {\n  const queueId = row.listmonk_sync_queue_id;\n\n  if (!queueId) {\n    throw new Error(\n      'Queue row is missing listmonk_sync_queue_id. Input was: ' +\n      JSON.stringify(row)\n    );\n  }\n\n  const listId = Number(row.listmonk_list_id || defaultListId);\n  if (!listId) throw new Error('LISTMONK_DEFAULT_LIST_ID is required');\n\n  const details =\n    typeof row.details === 'string'\n      ? JSON.parse(row.details || '{}')\n      : (row.details || {});\n\n  const name =\n    [details.first_name, details.last_name].filter(Boolean).join(' ') ||\n    row.email_normalized;\n\n  return {\n    json: {\n      ...row,\n      details,\n      queueId,\n      listId,\n      auth: `token ${$env.LISTMONK_API_USER}:${$env.LISTMONK_API_TOKEN}`,\n      subscriberName: name\n    }\n  };\n});"
      },
      "id": "dd223f3e-cee7-415a-b720-b868c4a43213",
      "name": "Code - Prepare Listmonk Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        432
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.LISTMONK_API_URL || 'http://listmonk:9000/api') + '/subscribers' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ \"subscribers.email='\" + $json.email_normalized.replace(/'/g, \"''\") + \"'\" }}"
            },
            {
              "name": "per_page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.auth }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "2ad6ee4b-e3e1-457a-8d66-d30f6c57acf1",
      "name": "HTTP - Find Subscriber",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -960,
        432
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "aW3RxSoGWoKi5Dkl",
          "name": "Header Auth account 4"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const preparedItems = $items('Code - Prepare Listmonk Request');\n\nreturn items.map((item, itemIndex) => {\n  const previous = preparedItems[itemIndex]?.json || {};\n  const body = item.json.body || item.json;\n  const statusCode = item.json.statusCode || body?.statusCode || null;\n  const httpFailed = !!item.json.error || (statusCode !== null && Number(statusCode) >= 400);\n\n  if (httpFailed) {\n    return {\n      json: {\n        ...previous,\n        body,\n        error: item.json.error || body?.error || body?.message || 'Listmonk subscriber lookup failed',\n        httpStatusCode: statusCode,\n        httpFailed: true\n      }\n    };\n  }\n\n  const results =\n    body?.data?.results ||\n    body?.data ||\n    body?.results ||\n    [];\n\n  const subscriber = Array.isArray(results) ? (results[0] || null) : null;\n\n  return {\n    json: {\n      ...previous,\n      body,\n      httpStatusCode: statusCode,\n      subscriber,\n      subscriberFound: !!subscriber,\n      httpFailed: false\n    }\n  };\n});"
      },
      "id": "25725aeb-5664-45e2-a48a-cba9a084df85",
      "name": "Code - Merge Subscriber Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "event-subscribe",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fd92272e-1ec5-4cc2-bd1f-ffd0baee9b9f",
      "name": "IF - Subscribe Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.LISTMONK_API_URL || 'http://listmonk:9000/api') + '/subscribers' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.auth }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { email: $json.email_normalized, name: $json.subscriberName, status: 'enabled', lists: [$json.listId], preconfirm_subscriptions: true, attribs: { signaturegate_member_email_id: $json.member_email_id, signaturegate_source: $json.source } } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "c1eb4ce4-cd65-44ec-adf8-c0bbf772fd07",
      "name": "HTTP - Create Subscriber",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "aW3RxSoGWoKi5Dkl",
          "name": "Header Auth account 4"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ ($env.LISTMONK_API_URL || 'http://listmonk:9000/api') + '/subscribers/lists' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.auth }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ids: [$json.subscriber?.id || $json.listmonk_subscriber_id], action: 'unsubscribe', target_list_ids: [$json.listId] } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a112e149-4616-4e89-a179-6b017bc216dc",
      "name": "HTTP - Unsubscribe Subscriber",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        288
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "aW3RxSoGWoKi5Dkl",
          "name": "Header Auth account 4"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.listmonk_mark_sync_success(\n  NULLIF('{{ $json.queueId || $json.listmonk_sync_queue_id || \"\" }}', '')::uuid,\n  NULLIF('{{ $json.body?.data?.id || $json.subscriber?.id || $json.id || \"\" }}', '')::integer,\n  NULLIF('{{ $json.body?.data?.uuid || $json.subscriber?.uuid || $json.uuid || \"\" }}', '')::uuid,\n  '{{ JSON.stringify($json.body || $json).replace(/'/g, \"''\") }}'::jsonb\n);",
        "options": {}
      },
      "id": "2efcc46f-b37a-4287-b63e-f6fa46667ac0",
      "name": "PG - Mark Sync Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        720,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "r1oDpLoZSVIIOWRS",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.listmonk_mark_sync_failure(\n  NULLIF('{{ $json.queueId || $json.listmonk_sync_queue_id || \"\" }}', '')::uuid,\n  {{ JSON.stringify($json.error?.message || $json.error || $json.message || 'Listmonk sync failed') }},\n  '{{ JSON.stringify($json.body || $json).replace(/'/g, \"''\") }}'::jsonb\n);",
        "options": {}
      },
      "id": "d78c0ea0-1963-45f3-972b-cacec98551e2",
      "name": "PG - Mark Sync Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        624,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "r1oDpLoZSVIIOWRS",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "lookup-http-ok",
              "leftValue": "={{ $json.httpFailed === true }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "131c6c79-631d-46af-8558-b27965583f64",
      "name": "IF - Lookup Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -480,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "const sourceItems = $items('Code - Merge Subscriber Lookup');\n\nreturn items.map((item, itemIndex) => {\n  const pairedIndex = item.pairedItem?.item ?? itemIndex;\n  const previous =\n    sourceItems[pairedIndex]?.json ||\n    sourceItems[itemIndex]?.json ||\n    sourceItems[0]?.json ||\n    {};\n\n  const body = item.json.body || item.json;\n  const statusCode = item.json.statusCode || body?.statusCode || null;\n  const httpFailed = !!item.json.error || (statusCode !== null && Number(statusCode) >= 400);\n\n  return {\n    json: {\n      ...previous,\n      body,\n      httpStatusCode: statusCode,\n      error: item.json.error || body?.error || body?.message || null,\n      httpFailed,\n      subscriber: body?.data?.id ? body.data : previous.subscriber || null\n    }\n  };\n});"
      },
      "id": "888c9942-bc7f-4dd8-9d89-1f26a2bff405",
      "name": "Code - Merge Create Subscriber Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const sourceItems = $items('Code - Merge Subscriber Lookup');\n\nreturn items.map((item, itemIndex) => {\n  const pairedIndex = item.pairedItem?.item ?? itemIndex;\n  const previous =\n    sourceItems[pairedIndex]?.json ||\n    sourceItems[itemIndex]?.json ||\n    sourceItems[0]?.json ||\n    {};\n\n  const body = item.json.body || item.json;\n  const statusCode = item.json.statusCode || body?.statusCode || null;\n  const httpFailed = !!item.json.error || (statusCode !== null && Number(statusCode) >= 400);\n\n  return {\n    json: {\n      ...previous,\n      body,\n      httpStatusCode: statusCode,\n      error: item.json.error || body?.error || body?.message || null,\n      httpFailed,\n      subscriber: previous.subscriber || null\n    }\n  };\n});"
      },
      "id": "69fddfd7-5ee1-4f98-bf3f-9d0058364851",
      "name": "Code - Merge Unsubscribe Subscriber Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "http-ok",
              "leftValue": "={{ $json.httpFailed === true }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "912a43b4-9573-46e3-8ff5-d199672a7801",
      "name": "IF - HTTP Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule - Every Minute": {
      "main": [
        [
          {
            "node": "PG - Claim Pending Queue Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Claim Pending Queue Rows": {
      "main": [
        [
          {
            "node": "Code - Prepare Listmonk Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Listmonk Request": {
      "main": [
        [
          {
            "node": "HTTP - Find Subscriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Find Subscriber": {
      "main": [
        [
          {
            "node": "Code - Merge Subscriber Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Merge Subscriber Lookup": {
      "main": [
        [
          {
            "node": "IF - Lookup Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Lookup Succeeded?": {
      "main": [
        [
          {
            "node": "IF - Subscribe Event?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG - Mark Sync Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Subscribe Event?": {
      "main": [
        [
          {
            "node": "HTTP - Create Subscriber",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Unsubscribe Subscriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Create Subscriber": {
      "main": [
        [
          {
            "node": "Code - Merge Create Subscriber Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Unsubscribe Subscriber": {
      "main": [
        [
          {
            "node": "Code - Merge Unsubscribe Subscriber Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Merge Create Subscriber Response": {
      "main": [
        [
          {
            "node": "IF - HTTP Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Merge Unsubscribe Subscriber Response": {
      "main": [
        [
          {
            "node": "IF - HTTP Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - HTTP Succeeded?": {
      "main": [
        [
          {
            "node": "PG - Mark Sync Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG - Mark Sync Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dd537471-c8a6-4ecb-a141-e2ea68bc0a0f",
  "meta": {
    "instanceId": "80f6db60a29056f4b0d55bd1ef6e213f497428949062f982c496e7b46a37f624"
  },
  "id": "CE7X9ISaoRDytZVf",
  "tags": []
}