n8n/SignatureGate - Listmonk - Poll Unsubscribes.json
{
  "name": "SignatureGate - Listmonk - Poll Unsubscribes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "f3130a84-c6c3-4ff5-8ddb-145772132646",
      "name": "Schedule - Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.LISTMONK_API_URL || 'http://listmonk:9000/api') + '/subscribers' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "subscription_status",
              "value": "unsubscribed"
            },
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "order_by",
              "value": "updated_at"
            },
            {
              "name": "order",
              "value": "DESC"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'token ' + $env.LISTMONK_API_USER + ':' + $env.LISTMONK_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "e3f61ff5-3ab0-4f4d-89dc-d593fb6d7dc4",
      "name": "HTTP - Fetch Listmonk Unsubscribes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        240,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "aW3RxSoGWoKi5Dkl",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = items[0]?.json?.body || items[0]?.json || {};\nconst results = body?.data?.results || body?.data || body?.results || [];\n\nreturn (Array.isArray(results) ? results : [])\n  .filter((sub) => {\n    const subscriberStatus = String(sub.status || '').toLowerCase();\n    const subscriberUnsubscribed = ['unsubscribed', 'disabled', 'blacklisted'].includes(subscriberStatus);\n\n    const listUnsubscribed = Array.isArray(sub.lists) && sub.lists.some((list) => {\n      return String(list.subscription_status || '').toLowerCase() === 'unsubscribed';\n    });\n\n    return subscriberUnsubscribed || listUnsubscribed;\n  })\n  .map((sub) => ({\n    json: {\n      ...sub,\n      unsubscribed_lists: Array.isArray(sub.lists)\n        ? sub.lists.filter((list) => String(list.subscription_status || '').toLowerCase() === 'unsubscribed')\n        : []\n    }\n  }));"
      },
      "id": "adae2326-08b1-494c-813d-f244b4849194",
      "name": "Code - Filter Actual Unsubscribes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.listmonk_record_external_unsubscribe(\n  '{{ String($json.email || \"\").replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.id || \"\" }}', '')::integer,\n  NULLIF('{{ $json.uuid || \"\" }}', '')::uuid,\n  'listmonk_unsubscribe_poll',\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb\n) AS updated_count;",
        "options": {}
      },
      "id": "2538cf6c-892d-4074-9fd4-83c1d72eea1a",
      "name": "PG - Record External Unsubscribe",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1440,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "r1oDpLoZSVIIOWRS",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  me.member_email_id::text AS member_email_id,\n  me.email_normalized,\n  COALESCE(me.mailing_subscription_status, '') AS mailing_subscription_status,\n  me.mailing_unsubscribed_at,\n  me.mailing_unsubscribe_source,\n  me.listmonk_subscriber_id,\n  me.listmonk_subscriber_uuid::text AS listmonk_subscriber_uuid\nFROM public.member_emails me\nWHERE\n  lower(me.email_normalized) = lower('{{ String($json.email || \"\").replace(/'/g, \"''\") }}')\n  OR lower(me.email) = lower('{{ String($json.email || \"\").replace(/'/g, \"''\") }}')\n  OR me.listmonk_subscriber_id = NULLIF('{{ $json.id || \"\" }}', '')::integer\n  OR me.listmonk_subscriber_uuid = NULLIF('{{ $json.uuid || \"\" }}', '')::uuid\nORDER BY\n  CASE\n    WHEN me.listmonk_subscriber_id = NULLIF('{{ $json.id || \"\" }}', '')::integer THEN 0\n    WHEN me.listmonk_subscriber_uuid = NULLIF('{{ $json.uuid || \"\" }}', '')::uuid THEN 1\n    ELSE 2\n  END,\n  me.updated_at DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "4dfe0e5b-4b3a-4149-a3ac-1fb08710d00a",
      "name": "PG - Check SignatureGate Mailing Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        720,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "r1oDpLoZSVIIOWRS",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sourceItems = $items('Code - Filter Actual Unsubscribes');\n\nreturn items.map((item, itemIndex) => {\n  const pairedIndex = item.pairedItem?.item ?? itemIndex;\n  const previous =\n    sourceItems[pairedIndex]?.json ||\n    sourceItems[itemIndex]?.json ||\n    sourceItems[0]?.json ||\n    {};\n\n  const statusRow = item.json || {};\n  const memberEmailId = statusRow.member_email_id || null;\n  const currentStatus = String(statusRow.mailing_subscription_status || '').toLowerCase();\n\n  // Only record an external/Listmonk unsubscribe once. If SignatureGate already\n  // knows this email is unsubscribed, do not call the audit/update function again.\n  const recordExternalUnsubscribe = !!memberEmailId && currentStatus !== 'unsubscribed';\n\n  return {\n    json: {\n      ...previous,\n      signaturegateStatus: statusRow,\n      signaturegateMemberEmailId: memberEmailId,\n      signaturegateMailingStatus: currentStatus || null,\n      recordExternalUnsubscribe\n    }\n  };\n});"
      },
      "id": "54e7ae18-87f9-45a1-a4a4-2d6e150ad8e3",
      "name": "Code - Merge SignatureGate Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "record-needed",
              "leftValue": "={{ $json.recordExternalUnsubscribe === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6e4fb06f-1986-4848-aee8-caf46e501953",
      "name": "IF - New External Unsubscribe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule - Every 5 Minutes": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Listmonk Unsubscribes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Listmonk Unsubscribes": {
      "main": [
        [
          {
            "node": "Code - Filter Actual Unsubscribes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Filter Actual Unsubscribes": {
      "main": [
        [
          {
            "node": "PG - Check SignatureGate Mailing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Check SignatureGate Mailing Status": {
      "main": [
        [
          {
            "node": "Code - Merge SignatureGate Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Merge SignatureGate Status": {
      "main": [
        [
          {
            "node": "IF - New External Unsubscribe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - New External Unsubscribe?": {
      "main": [
        [
          {
            "node": "PG - Record External Unsubscribe",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "90a58813-aa34-4b04-a057-00eb35e79dbf",
  "meta": {
    "instanceId": "80f6db60a29056f4b0d55bd1ef6e213f497428949062f982c496e7b46a37f624"
  },
  "id": "ZmP43z5LP2bevTbU",
  "tags": []
}