n8n/workflows/SignatureGate - Documenso - Send Release (Member+Facilitator).json
{
  "name": "SignatureGate - Documenso - Send Release (Member+Facilitator)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signaturegate/documenso/send",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "216938db-605a-41f0-b1d9-4b1672cea7f9",
      "webhookId": "6931cbca-92b9-45c6-b8a3-30e494a2bd34",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ma.member_agreement_id,\n  ma.member_id,\n  ma.facilitator_id,\n  ma.agreement_template_id,\n  ma.member_email_id,\n  at.documenso_template_envelope_id,\n  at.documenso_member_recipient_id,\n  at.documenso_facilitator_recipient_id,\n  m.first_name AS member_first_name,\n  m.last_name  AS member_last_name,\n  COALESCE(me_used.email, me_primary.email, m.email) AS member_email,\n  COALESCE(me_used.member_email_id, me_primary.member_email_id) AS resolved_member_email_id,\n  f.first_name AS facilitator_first_name,\n  f.last_name  AS facilitator_last_name,\n  COALESCE(fe_primary.email, f.email) AS facilitator_email,\n  fe_primary.member_email_id AS resolved_facilitator_email_id\nFROM member_agreements ma\nJOIN agreement_templates at ON at.agreement_template_id = ma.agreement_template_id\nJOIN members m ON m.member_id = ma.member_id\nJOIN members f ON f.member_id = ma.facilitator_id\nLEFT JOIN member_emails me_used\n  ON me_used.member_email_id = ma.member_email_id\n AND COALESCE(me_used.status, 'active') = 'active'\nLEFT JOIN LATERAL (\n  SELECT member_email_id, email\n  FROM member_emails\n  WHERE member_id = m.member_id\n    AND COALESCE(status, 'active') = 'active'\n  ORDER BY is_verified DESC, is_primary DESC, created_at DESC\n  LIMIT 1\n) me_primary ON true\nLEFT JOIN LATERAL (\n  SELECT member_email_id, email\n  FROM member_emails\n  WHERE member_id = f.member_id\n    AND COALESCE(status, 'active') = 'active'\n  ORDER BY is_verified DESC, is_primary DESC, created_at DESC\n  LIMIT 1\n) fe_primary ON true\nWHERE ma.member_agreement_id = $1::uuid\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.body.member_agreement_id }}"
        }
      },
      "name": "PG - Load Agreement Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        272,
        0
      ],
      "id": "6f4cb7ee-9375-43cd-83f5-a89689c8211f",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "r1oDpLoZSVIIOWRS",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items || items.length === 0 || !items[0].json) {\n  throw new Error('No input items found for member_agreement_id');\n}\n\nconst row = items[0].json;\n\nif (!row.member_agreement_id) {\n  throw new Error('member_agreement_id is missing from the row data');\n}\nif (!row.documenso_template_envelope_id) {\n  throw new Error('Missing agreement_templates.documenso_template_envelope_id. Run db/migrations_documenso_integration.sql and seed the template row.');\n}\nif (!row.documenso_member_recipient_id || !row.documenso_facilitator_recipient_id) {\n  throw new Error('Missing agreement_templates Documenso recipient IDs (member/facilitator).');\n}\n\nconst memberEmail = (row.member_email || '').trim();\nconst facilitatorEmail = (row.facilitator_email || '').trim();\nconst emailRe = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nif (!emailRe.test(memberEmail)) {\n  throw new Error(`Invalid/missing member_email: \"${memberEmail}\"`);\n}\nif (!emailRe.test(facilitatorEmail)) {\n  throw new Error(`Invalid/missing facilitator_email: \"${facilitatorEmail}\"`);\n}\n\nconst externalId = $('Webhook').first().json.body.externalId || `ma:${row.member_agreement_id}`;\n\nreturn [{\n  json: {\n    member_agreement_id: row.member_agreement_id,\n    member_id: row.member_id,\n    facilitator_id: row.facilitator_id,\n    member_email_id: row.resolved_member_email_id || row.member_email_id || null,\n    facilitator_email_id: row.resolved_facilitator_email_id || null,\n    member_email: memberEmail,\n    facilitator_email: facilitatorEmail,\n    externalId,\n    payload: {\n      envelopeId: row.documenso_template_envelope_id,\n      distributeDocument: true,\n      externalId,\n      recipients: [\n        {\n          id: row.documenso_member_recipient_id,\n          email: memberEmail,\n          name: `${row.member_first_name ?? ''} ${row.member_last_name ?? ''}`.trim()\n        },\n        {\n          id: row.documenso_facilitator_recipient_id,\n          email: facilitatorEmail,\n          name: `${row.facilitator_first_name ?? ''} ${row.facilitator_last_name ?? ''}`.trim()\n        }\n      ]\n    }\n  }\n}];\n"
      },
      "name": "Build Documenso Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ],
      "id": "db65756f-1373-4687-9471-2b1e9863554a",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DOCUMENSO_BASE_URL || 'https://documenso.danks.store' }}/api/v2/envelope/use",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { payload: $json.payload } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "name": "HTTP - Documenso Use Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        768,
        0
      ],
      "id": "fb3d9c28-3175-4d10-8cce-6a3bb61be010",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "u9hUDEIBmKAUCQnU",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const full = $json;\nconst body = full.body ?? full;\n\nconst documensoId = body.id;\nif (!documensoId) {\n  throw new Error(`Documenso /envelope/use response missing id. Response: ${JSON.stringify(full)}`);\n}\n\nconst recipients = body.recipients || [];\nconst memberSigner = recipients.find(r => r.signingOrder === 1) || recipients[0];\nconst facilitatorSigner = recipients.find(r => r.signingOrder === 2) || recipients[1];\nconst built = $('Build Documenso Payload').first().json;\n\nreturn [{\n  json: {\n    documenso_document_id: documensoId,\n    member_agreement_id: built.member_agreement_id,\n    externalId: built.externalId,\n    member_email_id: built.member_email_id || null,\n    member_email: built.member_email,\n    facilitator_email: built.facilitator_email,\n    member_signing_url: memberSigner?.signingUrl,\n    facilitator_signing_url: facilitatorSigner?.signingUrl,\n    recipients\n  }\n}];\n"
      },
      "name": "Extract Documenso Document ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        0
      ],
      "id": "73ae532f-569a-4aba-ad41-4414a3c821aa",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE member_agreements\nSET\n  signature_method = 'documenso',\n  status = 'pending_signature',\n  documenso_document_id = $2,\n  documenso_external_id = $3,\n  member_email_id = COALESCE(NULLIF($4, '')::uuid, member_email_id),\n  updated_at = now()\nWHERE member_agreement_id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $json.member_agreement_id }},{{ $json.documenso_document_id }},{{ $json.externalId ?? ('ma:' + $json.member_agreement_id) }},{{ $json.member_email_id || '' }}"
        }
      },
      "name": "PG - Update member_agreements",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1232,
        0
      ],
      "id": "2566d7ee-fed2-40f0-a7fd-852d9cd64fb7",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "r1oDpLoZSVIIOWRS",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1440,
        0
      ],
      "id": "52b7717e-3747-4f20-934b-7d0de7505592"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "PG - Load Agreement Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Load Agreement Context": {
      "main": [
        [
          {
            "node": "Build Documenso Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Documenso Payload": {
      "main": [
        [
          {
            "node": "HTTP - Documenso Use Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Documenso Use Template": {
      "main": [
        [
          {
            "node": "Extract Documenso Document ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Documenso Document ID": {
      "main": [
        [
          {
            "node": "PG - Update member_agreements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Update member_agreements": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1dad226e-ff1b-466f-b677-28fdb97c336e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80f6db60a29056f4b0d55bd1ef6e213f497428949062f982c496e7b46a37f624"
  },
  "id": "ZfAbXioeWeZgiVUS",
  "tags": []
}