n8n/workflows/SignatureGate - PGSQL - Mark Product UnShipped.json
{
  "name": "SignatureGate - PGSQL - Mark Product UnShipped",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signaturegate/pgsql/products/mark_unshipped",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Mark UnShipped",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "684bf900-3f0a-4512-814f-f91458485972",
      "webhookId": "69d0c0b2-b493-45a1-a580-dff418706bf0"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Expected body JSON:\n * {\n *   \"mushroomprocess_product_id\": \"PROD-....\",\n *   \"storage_location_name\": \"Location Name\"\n * }\n */\nconst body = $json.body || $json;\nconst mushroomprocess_product_id = body.mushroomprocess_product_id || body.product_id || null;\nconst storage_location = body.storage_location_name || body.storage_location || null;\n\nif (!mushroomprocess_product_id) {\n  throw new Error('Missing mushroomprocess_product_id');\n}\n\nif (!storage_location) {\n  throw new Error('Missing storage_location_name');\n}\n\nreturn [{ json: { mushroomprocess_product_id, storage_location } }];"
      },
      "name": "Code - Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "373d9416-dddd-49d4-9198-aa323b8162e7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ `WITH input AS (\n  SELECT\n    NULLIF('${String($json.mushroomprocess_product_id ?? '').replace(/'/g, \"''\")}', '') AS product_id,\n    NULLIF('${String($json.storage_location ?? '').replace(/'/g, \"''\")}', '') AS storage_location\n), target_location AS (\n  SELECT l.nocopk, l.name\n  FROM public.locations l, input i\n  WHERE lower(l.name) = lower(i.storage_location)\n  ORDER BY l.nocopk\n  LIMIT 1\n), target_product AS (\n  SELECT p.nocopk, p.product_id, COALESCE(p.airtable_id, p.nocopk::text) AS record_id\n  FROM public.products p, input i\n  WHERE p.product_id = i.product_id\n  LIMIT 1\n), upd AS (\n  UPDATE public.products p\n  SET storage_location_id = target_location.nocopk,\n      nc_updated_at = now()\n  FROM target_location, target_product\n  WHERE p.nocopk = target_product.nocopk\n  RETURNING p.*\n)\nSELECT\n  (upd.nocopk IS NOT NULL) AS ok,\n  CASE\n    WHEN target_location.nocopk IS NULL THEN 'missing_target_location'\n    WHEN target_product.nocopk IS NULL THEN 'missing_product'\n    WHEN upd.nocopk IS NULL THEN 'not_updated'\n    ELSE NULL\n  END AS error,\n  input.product_id AS requested_mushroomprocess_product_id,\n  input.storage_location AS requested_storage_location,\n  COALESCE(upd.airtable_id, upd.nocopk::text) AS updated_product_record_id,\n  upd.product_id AS mushroomprocess_product_id,\n  target_location.name AS storage_location\nFROM input\nLEFT JOIN target_location ON true\nLEFT JOIN target_product ON true\nLEFT JOIN upd ON true;` }}",
        "options": {}
      },
      "name": "PGSQL - Mark Product UnShipped",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "9820f1a3-01da-4b16-8d1d-084c00e467da",
      "credentials": {
        "postgres": {
          "id": "r064ogulZ44Ose76",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ `INSERT INTO public.audit_log(actor, action, entity_type, entity_id, details)\nVALUES (\n  'n8n',\n  'product.unshipped',\n  'product',\n  '${String($('Code - Assert Product UnShipped').first().json.mushroomprocess_product_id || $('Code - Assert Product UnShipped').first().json.updated_product_record_id || 'unknown').replace(/'/g, \"''\")}',\n  jsonb_build_object(\n    'product_id', '${String($('Code - Assert Product UnShipped').first().json.mushroomprocess_product_id || '').replace(/'/g, \"''\")}',\n    'record_id', '${String($('Code - Assert Product UnShipped').first().json.updated_product_record_id || '').replace(/'/g, \"''\")}',\n    'storage_location', '${String($('Code - Assert Product UnShipped').first().json.storage_location || '').replace(/'/g, \"''\")}',\n    'source', 'signaturegate_pgsql_workflow'\n  )\n)\nRETURNING audit_log_id;` }}",
        "options": {}
      },
      "name": "PG - Audit product unshipped",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        800,
        80
      ],
      "id": "164ae544-8641-42c5-9df2-edde40ef3213",
      "credentials": {
        "postgres": {
          "id": "r064ogulZ44Ose76",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, updated_product_record_id: $('Code - Assert Product UnShipped').first().json.updated_product_record_id, mushroomprocess_product_id: $('Code - Assert Product UnShipped').first().json.mushroomprocess_product_id, storage_location: $('Code - Assert Product UnShipped').first().json.storage_location } }}",
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        0
      ],
      "id": "2cd04d2b-2205-4e79-8e1e-c5e2a92f5f33"
    },
    {
      "parameters": {
        "jsCode": "const row = $json || {};\nif (row.ok !== true) {\n  const error = row.error || 'product_update_failed';\n  const details = [\n    row.mushroomprocess_product_id ? `product_id=${row.mushroomprocess_product_id}` : null,\n    row.requested_storage_location ? `requested_storage_location=${row.requested_storage_location}` : null,\n    row.airtable_record_id ? `airtable_record_id=${row.airtable_record_id}` : null\n  ].filter(Boolean).join(', ');\n  throw new Error(`Postgres product update failed: ${error}${details ? ' (' + details + ')' : ''}`);\n}\nreturn [{ json: row }];"
      },
      "id": "b49c0d37-6320-4471-a243-a3d099795f64",
      "name": "Code - Assert Product UnShipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Mark UnShipped": {
      "main": [
        [
          {
            "node": "Code - Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Input": {
      "main": [
        [
          {
            "node": "PGSQL - Mark Product UnShipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PGSQL - Mark Product UnShipped": {
      "main": [
        [
          {
            "node": "Code - Assert Product UnShipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Audit product unshipped": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Assert Product UnShipped": {
      "main": [
        [
          {
            "node": "PG - Audit product unshipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "246f6560-d156-4881-9be9-f203b962dbad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80f6db60a29056f4b0d55bd1ef6e213f497428949062f982c496e7b46a37f624"
  },
  "id": "hCgzhnL3CkcmyR44",
  "tags": []
}