n8n/workflows/SignatureGate - PGSQL - List Available Sacrament Products.json
{
  "name": "SignatureGate - PGSQL - List Available Sacrament Products",
  "nodes": [
    {
      "parameters": {
        "path": "signaturegate/pgsql/products/available",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - List Products",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "73fdc812-e589-4a9e-b4d2-cbfdd11d4d90",
      "webhookId": "096a1f6c-87c7-43e6-b43b-91548e072885"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ `SELECT COALESCE(json_agg(row_to_json(product_rows) ORDER BY product_rows.mushroomprocess_product_id), '[]'::json) AS records\nFROM (\n  SELECT\n    COALESCE(p.airtable_id, p.nocopk::text) AS airtable_record_id,\n    p.product_id AS mushroomprocess_product_id,\n    p.name_mat AS item_name,\n    s.species_strain AS strain,\n    p.net_weight_g,\n    'g'::text AS unit,\n    loc.name AS storage_location,\n    CASE WHEN loc.name IS NULL THEN ARRAY[]::text[] ELSE ARRAY[loc.name] END AS storage_locations\n  FROM public.products p\n  LEFT JOIN public.locations loc ON loc.nocopk = p.storage_location_id\n  LEFT JOIN public.strains s ON s.nocopk = p.strain_id\n  WHERE p.product_id IS NOT NULL\n    AND COALESCE(p.item_category_mat, '') = 'freezedriedmushrooms'\n    AND COALESCE(s.regulated, false) = true\n    AND COALESCE(loc.name, '') NOT IN ('Shipped', 'Consumed', 'Expired')\n) product_rows;` }}",
        "options": {}
      },
      "name": "PGSQL - List Available Products",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "ed71d873-e60f-48cd-8e47-2266da09e639",
      "credentials": {
        "postgres": {
          "id": "r064ogulZ44Ose76",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dbItem = $('PGSQL - List Available Products').first().json || {};\nconst req = $('Webhook - List Products').first().json;\n\nfunction asArray(v) {\n  if (v == null) return [];\n  return Array.isArray(v) ? v : [v];\n}\n\nfunction parseRecords(v) {\n  if (Array.isArray(v)) return v;\n  if (typeof v === 'string' && v.trim()) {\n    const parsed = JSON.parse(v);\n    return Array.isArray(parsed) ? parsed : [];\n  }\n  return [];\n}\n\nlet products = parseRecords(dbItem.records);\n\n// Some n8n/Postgres configurations emit direct SELECT rows instead of a single records field.\nif (!products.length && dbItem.records == null) {\n  const directRows = $('PGSQL - List Available Products').all().map(i => i.json || {});\n  const successOnly = directRows.length === 1 && directRows[0].success === true && Object.keys(directRows[0]).length === 1;\n  if (successOnly) {\n    throw new Error('PGSQL product list returned only success=true. The Postgres node did not return SELECT rows; re-import this corrected workflow and confirm the node query is the SELECT json_agg query.');\n  }\n  products = directRows.filter(r => r.mushroomprocess_product_id || r.airtable_record_id);\n}\n\nfunction parseAllowedLocations(req) {\n  const q = req?.query || {};\n\n  if (q.storage_locations_json) {\n    try {\n      const parsed = JSON.parse(q.storage_locations_json);\n      return asArray(parsed).map(x => String(x).trim()).filter(Boolean);\n    } catch (e) {\n      // Fall through to legacy handling.\n    }\n  }\n\n  if (q.storage_locations) {\n    return String(q.storage_locations)\n      .split(',')\n      .map(x => x.trim())\n      .filter(Boolean);\n  }\n\n  if (q.storage_location) {\n    return [String(q.storage_location).trim()].filter(Boolean);\n  }\n\n  return [];\n}\n\nconst allowedLocations = parseAllowedLocations(req);\nconst allowedLocationSet = new Set(allowedLocations.map(x => x.toLowerCase()));\nconst excludeLocations = new Set(['shipped', 'consumed', 'expired']);\nconst out = [];\n\nfor (const p of products) {\n  const product_id = p.mushroomprocess_product_id;\n  if (!product_id) continue;\n\n  const locNames = asArray(p.storage_locations)\n    .map(x => String(x || '').trim())\n    .filter(Boolean);\n\n  if (locNames.some(n => excludeLocations.has(n.toLowerCase()))) continue;\n\n  if (\n    allowedLocationSet.size > 0 &&\n    !locNames.some(n => allowedLocationSet.has(String(n).trim().toLowerCase()))\n  ) {\n    continue;\n  }\n\n  out.push({\n    airtable_record_id: p.airtable_record_id,\n    mushroomprocess_product_id: product_id,\n    item_name: p.item_name ?? null,\n    strain: p.strain ?? null,\n    net_weight_g: p.net_weight_g ?? null,\n    unit: p.unit || 'g',\n    storage_location: locNames[0] ?? null,\n    storage_locations: locNames,\n  });\n}\n\nreturn [{\n  json: {\n    ok: true,\n    data: out,\n    count: out.length,\n    filter: {\n      storage_locations: allowedLocations\n    }\n  }\n}];"
      },
      "name": "Code - Filter & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "d0ccdbc8-194c-49df-b455-ab8087d00ac1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        0
      ],
      "id": "287aee07-7859-43ff-9ee1-a66dc73d98ef"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - List Products": {
      "main": [
        [
          {
            "node": "PGSQL - List Available Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PGSQL - List Available Products": {
      "main": [
        [
          {
            "node": "Code - Filter & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Filter & Normalize": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "230b1c5e-0516-4273-acda-93e65f4a4d78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80f6db60a29056f4b0d55bd1ef6e213f497428949062f982c496e7b46a37f624"
  },
  "id": "R14KuLLQAyoyMrCy",
  "tags": []
}