n8n/workflows/SignatureGate - Listmonk - Poll Unsubscribes.json
{
  "name": "SignatureGate - Listmonk - Poll Unsubscribes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "f3130a84-c6c3-4ff5-8ddb-145772132646",
      "name": "Schedule - Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.LISTMONK_API_URL || 'http://listmonk:9000/api') + '/subscribers' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "subscription_status",
              "value": "unsubscribed"
            },
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "order_by",
              "value": "updated_at"
            },
            {
              "name": "order",
              "value": "DESC"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'token ' + $env.LISTMONK_API_USER + ':' + $env.LISTMONK_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "e3f61ff5-3ab0-4f4d-89dc-d593fb6d7dc4",
      "name": "HTTP - Fetch Listmonk Unsubscribes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        240,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "aW3RxSoGWoKi5Dkl",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = items[0]?.json?.body || items[0]?.json || {};\nconst results = body?.data?.results || body?.data || body?.results || [];\n\nreturn (Array.isArray(results) ? results : [])\n  .filter((sub) => {\n    const subscriberStatus = String(sub.status || '').toLowerCase();\n    const subscriberUnsubscribed = ['unsubscribed', 'disabled', 'blacklisted'].includes(subscriberStatus);\n\n    const listUnsubscribed = Array.isArray(sub.lists) && sub.lists.some((list) => {\n      return String(list.subscription_status || '').toLowerCase() === 'unsubscribed';\n    });\n\n    return subscriberUnsubscribed || listUnsubscribed;\n  })\n  .map((sub) => ({\n    json: {\n      ...sub,\n      unsubscribed_lists: Array.isArray(sub.lists)\n        ? sub.lists.filter((list) => String(list.subscription_status || '').toLowerCase() === 'unsubscribed')\n        : []\n    }\n  }));"
      },
      "id": "adae2326-08b1-494c-813d-f244b4849194",
      "name": "Code - Filter Actual Unsubscribes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.listmonk_record_external_unsubscribe(\n  '{{ String($json.email || \"\").replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.id || \"\" }}', '')::integer,\n  NULLIF('{{ $json.uuid || \"\" }}', '')::uuid,\n  'listmonk_unsubscribe_poll',\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb\n) AS updated_count;",
        "options": {}
      },
      "id": "2538cf6c-892d-4074-9fd4-83c1d72eea1a",
      "name": "PG - Record External Unsubscribe",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        720,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "r1oDpLoZSVIIOWRS",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule - Every 5 Minutes": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Listmonk Unsubscribes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Listmonk Unsubscribes": {
      "main": [
        [
          {
            "node": "Code - Filter Actual Unsubscribes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Filter Actual Unsubscribes": {
      "main": [
        [
          {
            "node": "PG - Record External Unsubscribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "90a58813-aa34-4b04-a057-00eb35e79dbf",
  "meta": {
    "instanceId": "80f6db60a29056f4b0d55bd1ef6e213f497428949062f982c496e7b46a37f624"
  },
  "id": "ZmP43z5LP2bevTbU",
  "tags": []
}