n8n/workflows/SignatureGate - Airtable - Mark Product UnShipped.json
{
  "name": "SignatureGate - Airtable - Mark Product UnShipped",
  "nodes": [
    {
      "parameters": {
        "jsCode": "/**\n * Expected body JSON:\n * {\n *   \"mushroomprocess_product_id\": \"PROD-....\", \n * }\n */\nconst body = $json.body || $json;\nconst mushroomprocess_product_id = body.mushroomprocess_product_id;\nconst storage_location = body.storage_location;\n\nif ( !mushroomprocess_product_id) {\n  throw new Error(\"Missing mushroomprocess_product_id\");\n}\n\nif (!storage_location) {\n  throw new Error(\"Missing storage_location\");\n}\n\nreturn [{ json: { mushroomprocess_product_id, storage_location } }];"
      },
      "id": "c63ad42e-7e7c-426b-96a4-1cac703c71a6",
      "name": "Code - Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Input 0: Airtable - List Locations\n// Input 1: AirtableFindProduct (optional fallback)\nconst location = $('Airtable - Find Target Location').first()?.json;\n\n// Each item should look like { id: \"rec...\", fields: { name: \"Shipped\", ... } }\nconst targetLocId = location?.id;\n\nif (!targetLocId) {\n  throw new Error(\n    `Could not find 'Shipped' location. Sample names: ${location.slice(0,10).map(r => r.fields?.name).join(\", \")}`\n  );\n}\n\nlet prodId = $('Code - Validate Input').first().json.mushroomprocess_product_id;\nconst prod = $('Airtable - Find Product by product_id').first()?.json; // AirtableFindProduct\nconst prodRecId = prod?.id;\n\nif (!prodId) throw new Error(\"Could not resolve product Airtable product_id.\");\n\nreturn [{ json: { id: prodRecId,  product_id: prodId, storage_location: targetLocId } }];\n"
      },
      "id": "987d6bfa-72d2-4134-a358-a9b097b2e881",
      "name": "Code - Resolve IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, updated_product_record_id: $('HTTP Request').item.json.id } }}",
        "options": {}
      },
      "id": "54892188-2395-4cb2-b09a-6077e66e8030",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        80
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appxJ59Wmyd96jXMm",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl51zhGGDuaL2Sm4",
          "mode": "id"
        },
        "filterByFormula": "={product_id} = '{{ $('Code - Validate Input').item.json.mushroomprocess_product_id }}'",
        "options": {}
      },
      "id": "ba4f3aab-1f0d-4e80-bbd5-fa2049257a07",
      "name": "Airtable - Find Product by product_id",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -64,
        0
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "vgt8hbjfh9CbsaQA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/appxJ59Wmyd96jXMm/tbl51zhGGDuaL2Sm4/{{$json.id}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"storage_location\": [\"{{$json.storage_location}}\"]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        128
      ],
      "id": "1219b534-2a1a-4424-90aa-40787142fa2f",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8jOPRa981PHbg7oW",
          "name": "Header Auth account 3"
        },
        "airtableApi": {
          "id": "gSlk2xHftMApxRZA",
          "name": "Airtable account"
        },
        "airtableTokenApi": {
          "id": "vgt8hbjfh9CbsaQA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signaturegate/airtable/products/mark_unshipped",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a177957c-45c6-4262-94a0-8f792b89183a",
      "name": "Webhook - Mark UnShipped",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -448,
        80
      ],
      "webhookId": "18356563-0c25-46d5-8827-6f55ff939030"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "=appxJ59Wmyd96jXMm",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl2QYDX1lLDyrpcm",
          "mode": "id"
        },
        "filterByFormula": "={name} = '{{ $('Code - Validate Input').item.json.storage_location }}'",
        "options": {}
      },
      "id": "a0a98467-28f5-461f-99b4-390b70b0b22a",
      "name": "Airtable - Find Target Location",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        64,
        208
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "vgt8hbjfh9CbsaQA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "audit_log",
          "mode": "list",
          "cachedResultName": "audit_log"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "actor",
              "value": "n8n"
            },
            {
              "column": "action",
              "value": "product.unshipped"
            },
            {
              "column": "entity_type",
              "value": "product"
            },
            {
              "column": "=entity_id",
              "value": "={{ $json.product_id || $json.id || 'unknown' }}"
            },
            {
              "column": "details",
              "value": "={{ JSON.stringify({airtable_record_id: $json.id, product_id: $json.product_id, storage_location: $('Code - Validate Input').item.json.storage_location}) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "PG - Audit product unshipped",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        528,
        -96
      ],
      "id": "5e0e8baf-af1f-436f-aadd-56ba8f04ab6e",
      "credentials": {
        "postgres": {
          "id": "r1oDpLoZSVIIOWRS",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code - Validate Input": {
      "main": [
        [
          {
            "node": "Airtable - Find Product by product_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Resolve IDs": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Find Product by product_id": {
      "main": [
        [
          {
            "node": "Airtable - Find Target Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "PG - Audit product unshipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Mark UnShipped": {
      "main": [
        [
          {
            "node": "Code - Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Find Target Location": {
      "main": [
        [
          {
            "node": "Code - Resolve IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Audit product unshipped": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "97ff790d-4937-43ae-9740-99324c2e2005",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80f6db60a29056f4b0d55bd1ef6e213f497428949062f982c496e7b46a37f624"
  },
  "id": "sPFn38hbLG8Pdf7B",
  "tags": []
}